:root{
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color: #6f7dfb;
}
 

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

 
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

 .btn.dark{
    background: var(--dark-blue-color);
 }

 .btn.light{
    background: var(--orange-color);
 }

.btn.enrol-icon::before{
    content: url("images/edit_square_FILL0_wght400_GRAD0_opsz48.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}
 