:root{
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color: #6f7dfb;
}
 

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

 /* Button */
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

 .btn.dark{
    background: var(--dark-blue-color);
 }

 .btn.light{
    background: var(--orange-color);
 }

.btn.enrol-icon::before{
    content: url("images/edit_square_FILL0_wght400_GRAD0_opsz48.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon{
    padding-left: 80px;
}
 
/* Header */
header{
    background: linear-gradient(180deg,#6f7dfb 0%, #26308c 100%);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 36px;
    z-index: 100;
}

nav .logo{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #e8f7fb;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #e8f7fb;
    text-decoration: none;
}

/* Hero section */
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #e8f7fb;
    margin-bottom: 0;
}

.hero-section .left p{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #e8f7fb;
    margin-bottom: 30px;
}

.hero-section .left{
   flex: 1;
}

.hero-section .right{
    align-self: flex-end;
}

.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}

/* Achievement Cards */
/* .achievement-cards{
    
} */

.achievement-card{
    position: absolute;
    max-width: 200px;
}

.achievement-card .content{
    border-radius: 24px;
    background: #e8f7fb;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled{
    left: 49%;
    top: 270px;
}

.achievement-card.overall-rating{
    left: 45%;
    top: 520px;
}

.achievement-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3{
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -3px;
    margin-bottom: 5px;
}

.achievement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,#6f7dfb 0%, #838dbb 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}
.hero-section .left p{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #e8f7fb;
    margin-bottom: 30px;
    width: 457px;
}

 /* Testimony section */
 section {
    margin-top: 100px;
 }
 h2{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120px;
    margin: 0;
    color: var(--dark-blue-color);
 }

 /* h2.light{
    color: red;
 } */
 section p{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--dark-blue-color);
    margin: 12px 0;
 }

 .testimonials-section{
    display: flex;
    gap: 100px;
    align-items: center;
 }

 .testimonials-section .mobile-btn{
    display: none;
 }

 .testimonials-section .testimonial-card{
    width: 442px;
    background-color: #e8f7fb;
    box-shadow: 0px 9px 36px rgba(0,0,0,0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
 }


   .testimonials-section .testimonial-card::before{
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: var(--dark-blue-color);
    border-radius: 24px 24px 0 0;
   }
.testimonials-section .testimonial-card:last-child::before{
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}
 .testimonials-section .testimonial-card .content{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    border-radius: 24px;
    padding: 24px 24px;
    background: var(--dark-blue-color);
 }

 .testimonials-section .testimonial-card:last-child .content{
    background-color: var(--orange-color);
 }

 .testimonials-section .testimonial-card .info h4{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120px;
    color: var(--dark-blue-color); 
 }

 .testimonials-section .testimonial-card .info{
    padding: 24px 24px;
    background-color: #e8f7fb;
    border-radius: 24px;
 }

 .testimonials-section .testimonial-card .info p.company{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: var(--dark-blue-color);
 }

 .testimonials-section .testimonial-card img{
    width: 120px;
    height: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
 }
 .testimonials-section .testimonial-card:last-child{
    transform: translateX(20px);
 }
 .testimonials-section .features{
    margin-bottom: 30px;
 }

 .courses-section{
    background: linear-gradient(180deg,#6f7dfb 0%, #26308c 100%);
    padding: 70px 0;
 }

 .courses-section h2{
    text-align: center;
 }

 .courses-section .course-cards{
    display: flex;
    gap: 70px;
 }

 .courses-section .course-cards img{
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
    border-radius: 24px;
 }
.courses-section .course-card{
    background: #e8f7fb;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0;
    position: relative;
}
.courses-section .course-card h3{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;

    color: var(--dark-blue-color);
}

.courses-section .course-card .info{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.courses-section .course-card .duration{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 16px;
    white-space: nowrap;
    color: var(--dark-blue-color);
    position: relative;
    padding-left: 20px;
}
.courses-section .course-card .duration::before{
    content: "🎁";
    position: absolute;
    top: 2px;
    left: -6px;
}

